.body {
    font-family: sans-serif;
}
.row {
    width: 100%;
    font-size: 100px;
    color: #333333;
}
.br-mob {
    display: none;
}
@media screen and (max-width: 600px) {
    .br-mob {
        display: block;
    }
}
#disp {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 100px;
    font-style: normal;
    font-variant: bold;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: mediumvioletred;
}
